<!--[if lt IE 10 ]>
    <div class="space-32"></div>
    <div class="space-32"></div>
    <div class="row">
        <div class="col-xs-12">
            <div id="oldbrowser">
                <div>
                    <p>
                    <strong>{{ 'oldbrowserbundle.show.title' | trans }}</strong><br />
                    {{ 'oldbrowserbundle.show.description' | trans }}</p>
                    <p class="more-about text-right"><a href="http://browsehappy.com/?locale=it_it" target="_blank">{{ 'oldbrowserbundle.show.link' | trans }}</a></p>
                </div>
        </div>
        </div>
    </div>
    <style>
        #oldbrowser {
            padding: 8px;
            background-color: #ffffaa;
            border: 1px solid #cccc77;
        }
        #oldbrowser p {
            margin: 0;
        }
    </style>
<![endif]-->